<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040824039323-hr2thbsh0c94vmfq60gtmchp5sd1e3ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040824039323-hr2thbsh0c94vmfq60gtmchp5sd1e3ie</string>
	<key>API_KEY</key>
	<string>AIzaSyDrHU2xg5Z14KY6wqsPLYEMDzP9UPKRbKI</string>
	<key>GCM_SENDER_ID</key>
	<string>1040824039323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.maritime</string>
	<key>PROJECT_ID</key>
	<string>maritime-c5183</string>
	<key>STORAGE_BUCKET</key>
	<string>maritime-c5183.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040824039323:ios:4e743e246ae25c3b70133e</string>
</dict>
</plist>